@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

#body-background {
    background-color: #E7E3D2;
    position:absolute;
    width: 70%;
    height: 70vh;
    right:0;
    top:15vh;
    border-bottom-left-radius: 180px;
}

#top-left-deco {
  background-color: #e7d9d2;
  position: fixed;
  top:0px;
  left:0px;
  width:20vw;
  height:40vh;
  border-bottom-right-radius: 270px;
}

#mid-left-deco {
  position: fixed;
  background-color: #e1e7d2;
  top: 50%;
  left:30px;
  width:20vw;
  height:40vh;
  border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70% ;
}

#mid-right-deco {
  position: fixed;
  background-color: #d2d6e7;
  top: 30%;
  right:60px;
  width: 20vw;
  height:40vh;
  border-radius: 40% 80% 80% 40%/ 40% 40% 80% 80%  ;
  transform: rotate(150deg);
}

#main-header {
  background-color:white;
  position: absolute;
  height:25vh;
  width:25vw;
  top:5vh;
  left:-20vw;
  border: 1px;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

h1 {
  font-family: 'Archivo', sans-serif;
}

#main-header h1 {
  font-size: 3.5vw;
  margin-left:5%;
}

#sub-header {
  background-color:white;
  position: absolute;
  height:10vh;
  width:47vw;
  top:40vh;
  left:-20vw;
  box-shadow: 5px 10px 18px #888888;
}

#sub-header h1{
  margin-left: 5%;
  font-size: 2vw;
}

#my-education {
  background-color:rgba(0, 0, 0, 0.461);
  position: absolute;
  height:30vh;
  width:15vw;
  top:22%;
  left:23vw;

}

 h2 {
  position: absolute;
  top:30%;
  left:11vw;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  color:white;
  font-style: italic;
  letter-spacing:1vw;
  
}

#navbar-background {
  background-color:rgba(0, 0, 0, 0.461);
  height:10vh;
  width:30vw;
  position: absolute;
  top:0;
  right:0;
}

#nav {
  margin:auto;
  height:10vh;
  width:30vw;
}

#nav li {
  display: inline-block;
  text-align:center; 
  margin: 5%;
  font-size: 1vw;
}

#nav li a {
  color:white;
  text-decoration: none;
}

#profile-pic {
  position: absolute;
  width:17vw;
  height: 45vh;
  right:6vw;
  top:8vh;
  border-radius: 10vh;
}

#about-me {
  margin-top:100vh;
  text-align: center;
  line-height: 40px;
}

#about-me p{
  font-size: 1.5vw;
}

#illustration {
  height:45vh;
  width:25vw;
  border-radius: 360px;
  background-color: #E7E3D2;
}

span {
  color:black;
}

#work {
  position: relative;
  margin-top: 15vh;
}

#work img {
  width: 30vw;
  height:40vh;
}

#work img:hover {
  width: 31vw;
  cursor: pointer;
}

.grid-container { 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.grid-item p, h3{
  text-align: center;
  font-family: 'Roboto',sans-serif;
}





.my-text-style {
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-size: 2.5vw;
}

.action {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);

}

.action span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1B1B1B;
  font-size: 2em;
  transition: 0.3s ease-in-out;
}

.action.active span {
  transform: rotate(135deg);
}

.social {
  position: absolute;
  bottom: 55px;
  background: #fefefe;
  border-radius: 20px;
  min-width: 250px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  font-family: 'Roboto',sans-serif;
}

.action.active ul {
  bottom: 70px;
  visibility: visible;
  opacity: 1;
}

.social li {
  list-style: none;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
}

.social li img {
  margin-right: 10px;
  opacity: 0.2;
  transform: scale(0.8);
  transition: 1s;
}

.social li:hover img {
  opacity: 1;
}

.social li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.anc {
  text-decoration: none;
  color: inherit;
}

