@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#body-background {
    background-color: #E7E3D2;
    position:absolute;
    width: 70vw;
    height: 70vh;
    right:0;
    top:15vh;
    border-bottom-left-radius: 180px;

}

#top-left-deco {
  background-color: #E7E3D2;
  position: fixed;
  opacity: 50%;
  top:0px;
  left:0px;
  width:250px;
  height:250px;
  border-bottom-right-radius: 270px;

}

#main-header {
  background-color:white;
  position: absolute;
  height:25vh;
  width:25vw;
  top:5vh;
  left:-20vw;
  border: 1px;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}


h1 {
  font-family: 'Archivo', sans-serif;
}

#main-header h1 {
  font-size: 3.5vw;
  margin-left:5%;
}

#sub-header {
  background-color:white;
  position: absolute;
  height:10vh;
  width:47vw;
  top:40vh;
  left:-20vw;
  box-shadow: 5px 10px 18px #888888;
}

#sub-header h1{
  margin-left: 5%;
  font-size: 2.5vw;
}

#my-education {
  background-color:rgba(0, 0, 0, 0.461);
  position: relative;
  height:30vh;
  width:15vw;
  top:22%;
  left:23vw;
}


 h2 {
  position: absolute;
  top:30%;
  left:13vw;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  color:white;
  font-style: italic;
  letter-spacing:10px;
  
}

#navbar-background {
  background-color:rgba(0, 0, 0, 0.461);
  height:10vh;
  width:30vw;
  position: fixed;
  top:0;
  right:0;
}

#nav {
  margin:auto;
}

#nav li {
  display: inline-block;
  text-align:center; 
  margin: 5%;
}

#nav li a {
  color:white;
  text-decoration: none;
}

#profile-pic {
  position: absolute;
  width:19vw;
  right:6vw;
  top:8vh;
  border-radius: 90vw;
}

#about-me {
  margin-top:110vh;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-size: 2vw;
  line-height: 40px;

}

#illustration {
  height:60vh;
  width:30vw;
  border-radius: 360px;
  background-color: #E7E3D2;
}

span {
  color:black;
}

#work {
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-size: 2vw;
  margin-top: 10vh;

}
 #work img {
   width:40vw
 }
